.team-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2);
  background: #fff; 
  padding: 10px; 
  padding: 30px; 
  height: 100%; 
}
@media (min-width: 768px) {
  .team-summary {
    text-align: left;
  }
}
.team-summary
.team-image {
  margin-right: 20px;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .team-summary .team-image { 
    text-align: left; 
  }
}

@media (min-width: 992px) {
  .team-summary 
  .team-image { 
    width: 120px; 
  } 
}

.team-summary 
.team-image img { 
  width: 180px; 
  height: 180px; 
  border-radius: 50%; 
  display: inline-block; 
}

@media (min-width: 768px) { 
  .team-summary 
 .team-image img { 
    width: 120px; 
    height: 120px; 
  }
}

@media (min-width: 768px) { 
  .team-summary 
  .team-block { 
    flex: 1; 
  } 
}

.team-summary 
.team-block 
.team-meta h2 { 
  margin: 0; 
}
.team-summary 
.team-block 
.team-meta p { 
  margin: 0; 
}
.team-summary 
.team-block 
.team-meta 
.team-jobtitle { 
  font-size: 1.2rem; 
  color: #333; 
}
.team-summary 
.team-block 
.team-meta 
.team-links { 
  margin-top: 6px; 
}
.team-summary 
.team-block 
.team-meta .team-links i { 
  font-size: 1.8rem; 
  margin-right: 3px; 
}
.team-summary 
.team-block 
.team-meta 
.team-links a:last-of-type i { 
  margin-right: 0; 
}
.team-summary 
.team-block 
.team-content { 
  margin-top: 20px; 
}

@media (min-width: 992px) { 
  .team-summary 
  .team-block 
  .team-content { 
    width: auto; 
  } 
}
