---
title: Discentes PPGCC - Programa de Pós-graduação em Ciência da Computação
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>Discentes PPGCC/PUCRS</h1>
    <p>Programa de Pós-graduação em Ciência da Computação da PUCRS </p>
  </div>
</div>

<div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Consultar Novo Qualis Ciência da Computação: </strong> {{ site.data.qualis.nome_representante }} </div>
      <div class="call-email">
      </div>
    </div>
    <div class="call-box-bottom">
      <a href="{{site.baseurl}}/pages/qualis" class="button">Acessar</a>
    </div>
  </div>
</div>

<div class="page-home-box">
<div class="container pt-8 pt-md-10">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Discentes</h2>
    </div>
    {% for categoria in site.data.categoria-discentes %}
    {% if categoria.type == 'M' or categoria.type == 'D' %}
    <div class="col-12 col-md-4 mb-1">
      <div class="feature">
        {% if categoria.image %}
        <div class="feature-image">
          <img alt="{{ categoria.title }} logo" src="{{ categoria.image }}" />
        </div>
        {% endif %}
        <h2 class="feature-title">{{ categoria.title }}</h2>
        <div class="feature-content">{{ categoria.description }}</div>
        <a href="{{site.baseurl}}/{{ categoria.url }}" class="button">Acessar</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/pages/discentes">Ver Todos Discentes</a>
    </div>
  </div>
</div>
</div>

<div class="page-home-box">
  <div class="container pt-8 pt-md-10">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="title-3 text-dark mb-4">Serviços & Divulgações</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-6 mb-4">
        <div class="feature">
          <div class="feature-image"><img alt="imagem linktree logo" src="images/servicos/linktree.png"/></div>
          <h2 class="feature-title">Acesse o nosso Linktree!</h2>
          <div class="feature-content">Aqui estão relacionados os links mais úteis para você!</div>
          <a target="_blank" href="https://linktr.ee/alunosppgcc" class="button">Acessar Linktree</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="page-home-box">
<div class="container pt-8 pt-md-10">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Fluxos</h2>
    </div>
    {% for fluxo in site.data.fluxos-cursos %}
    <div class="col-12 col-md-6 col-lg-6 mb-4">
      <div class="feature">
        {% if fluxo.image %}
        <div class="feature-image">
          <img alt="{{ fluxo.title }} logo" src="{{ fluxo.image }}" />
        </div>
        {% endif %}
        <h2 class="feature-title">{{ fluxo.title }}</h2>
        <div class="feature-content">{{ fluxo.description }}</div>
        <a href="{{site.baseurl}}/{{ fluxo.url }}" class="button">Ver Fluxo</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
-->
<div class="page-home-box">
  <div class="container pt-5 pb-5 pt-md-7 pb-md-7">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="title-3 text-dark mb-4">Cursos</h2>
      </div>
      {% for curso in site.data.cursos %}
      <div class="col-12 col-md-6 col-lg-6 mb-4">
        <div class="feature">
          {% if curso.image %}
            <div class="feature-image">
              <img alt="{{ curso.title }} logo" src="{{ curso.image }}" />
            </div>
          {% endif %}
          <h2 class="feature-title">{{ curso.title }}</h2>
          <div class="feature-content">{{ curso.description }}</div>
          <div class="feature-content"><strong>Créditos: </strong>{{ curso.creditos }}</div>
          <div class="feature-content"><strong>Prazo para defesa: </strong>{{ curso.defesa }}</div>
          <div class="feature-content">
            <a target="_blank" href="{{site.data.contact.link-inscricao-ppgcc}}" class="button">Inscrições</a>
            <a href="{{site.baseurl}}/{{ curso.url }}" class="button">Ver Fluxo</a>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="col-12 col-md-6 col-lg-10 mb-8">
        <div class="feature">
          <div class="feature-content">
            <img alt="Banner da CAPES com a informação de que o curso de Ciência da Computação é nível 6" src="images/cursos/cc-banner-capes.jpg" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
