<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <h3 class="footer-title">{{site.title}}</h3>
          <ul class="footer-menu">
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/pt-BR/discentes">Discentes & Docentes</a></li>
            <li><a href="{{site.baseurl}}/pt-BR/cursos">Cursos</a></li>
            <li><a href="{{site.baseurl}}/pt-BR/qualis">Qualis</a></li>
            <li><a href="{{site.baseurl}}/pt-BR/equipe">Equipe</a></li>
            <li class="copyright">© {{site.title}} {{site.time | date:'%Y'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
