<div id="cookie-consent-popup" class="cookie-consent-popup">
  <p>We use cookies to ensure you get the best experience on our website. By continuing to use our website, you agree to our cookie policy.</p>
  <button id="cookie-consent-button" class="cookie-consent-button">I GET IT</button>
  <button id="consent-button" class="cookie-consent-button">Cookie Policy</button>
</div>      

<div id="popup-overlay">
  <div id="popup-box">
    <h2>Cookie Policy</h2>
    <p>{{ site.data.cookies.cookies-msg1-en }}</p>
    <p>{{ site.data.cookies.cookies-msg2-en }}</p>
    <p>{{ site.data.cookies.cookies-msg3-en }}</p>
    <button id="close-button" class="cookie-consent-button">Close</button>
  </div>
</div>

<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <h3 class="footer-title">{{site.title}}</h3>
          <ul class="footer-menu">
            <li><a href="{{site.baseurl}}/en/">Home</a></li>
            <li><a href="{{site.baseurl}}/en/students">Students & Teachers</a></li>
            <li><a href="{{site.baseurl}}/en/courses">Courses</a></li>
            <li><a href="{{site.baseurl}}/en/qualis">Qualis</a></li>
            <li><a href="{{site.baseurl}}/en/team">Team</a></li>
            <li class="copyright">© {{site.title}} {{site.time | date:'%Y'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/cookies.js"></script>