<head>
<meta charset="utf-8">
<!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Contrafabulists</title>
<meta name="description" content="A Hack Education & API Evangelist Production
" />

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


<meta property="og:site_name" content="Contrafabulists" />
<meta property="og:title" content="Contrafabulists"/>

<meta property="og:description" content="A Hack Education & API Evangelist Production" />

<meta property="og:image" content="https://contrafabulists-toolbox.github.io/master/images/cog.jpg" />
<meta property="og:url" content="https://contrafabulists-toolbox.github.io/master/" >
<meta property="og:type" content="blog" />


<link rel="canonical" href="https://contrafabulists-toolbox.github.io/master/"/>
<link rel="shortcut icon" href="https://contrafabulists-toolbox.github.io/master/images/favicon.ico" type="image/png"/>
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,400i,700,700i/Open+Sans:400,400i,700,700i">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" media="screen" href="https://contrafabulists-toolbox.github.io/master/css/main.css" />
<link rel="stylesheet" type="text/css" media="print" href="https://contrafabulists-toolbox.github.io/master/css/print.css" />
</head>
