<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/discentes/" class="{% if page.url contains 'discentes' %}current{% endif %}">Discentes</a></li>
    <li><a href="{{site.baseurl}}/servicos/" class="{% if page.url contains 'servicos' %}current{% endif %}">Serviços</a></li>
    <li><a href="{{site.baseurl}}/qualis/" class="{% if page.url contains 'qualis' %}current{% endif %}">Qualis</a></li>
    <li><a href="{{site.baseurl}}/equipe/" class="{% if page.url contains 'equipe' %}current{% endif %}">Equipe</a></li>
  </ul>
</div>
