<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/pages/discentes/" class="{% if page.url contains 'discentes' %}current{% endif %}">Discentes</a></li>
    <li><a href="{{site.baseurl}}/pages/cursos/" class="{% if page.url contains 'cursos' %}current{% endif %}">Cursos</a></li>
    <li><a href="{{site.baseurl}}/pages/qualis/" class="{% if page.url contains 'qualis' %}current{% endif %}">Qualis</a></li>
    <li><a href="{{site.baseurl}}/pages/equipe/" class="{% if page.url contains 'equipe' %}current{% endif %}">Equipe</a></li>
  </ul>
</div>
