<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <!--<li><strong>Telefone: </strong>{{ site.data.contact.phone }}</li>-->
            <li><strong>Email: </strong><a href="mailto:{{ site.data.contact.email_representante }}">
                {{ site.data.contact.nome_representante }}</a></li>
          </ul>
          <ul>
            <li><a href="http://www.pucrs.br/politecnica/programa-de-pos-graduacao-em-ciencia-da-computacao/">Website PPGCC PUCRS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
