---
title: Discentes
layout: default
bodyClass: subpage-discentes-planilha-list
---

<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link href="{{site.baseurl}}/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<!-- <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>


<!-- DATATABLES BOOTSTRAP INTEGRATION CSS -->
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

<!-- DATATABLES -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/js/jquery.dataTables.min.js"></script>

<!-- google-sheets-parser -->
<script src="https://cdn.jsdelivr.net/npm/public-google-sheets-parser@latest"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/planilhaDiscentes.js"></script>
<script>
  $(function() {
      $( "#tabs" ).tabs();
  });
</script>

<style>
.ui-tabs .ui-widget-header {
    background: #5c9ccc;
}
</style>

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Planilha Discentes de Mestrado e Doutorado (2021/1):</h1>
      </div>
    </div>
    {% for categoria in site.data.categoria-discentes %}
    {% if categoria.type != 'PD' and categoria.language != 'en'%}
    <div class="col-12 col-md-3 mb-1">
      <a href="{{site.baseurl}}/{{ categoria.url }}" class="button">{{ categoria.title }}</a>
    </div>
    {% endif %}
    {% endfor %}
    <div class="col-12 col-md-3 mb-1">
      <a target="_blank" href="https://www.pucrs.br/politecnica/programa-de-pos-graduacao-em-ciencia-da-computacao/informacoes-adicionais/alunos/" class="button">Lista Base Discentes</a>
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    {% for categoria in site.data.categoria-discentes %}
    {% if categoria.type == 'PD' and categoria.language == 'pt-BR' %}
    <div class="col-12 col-md-12 mb-1">
      <div class="qualis qualis-summary">
        <div class="qualis-description"><strong>Aviso 01: </strong>{{ categoria.warning1 }}</div>
      </div>
    </div>
    <div class="col-12 col-md-12 mb-1">
      <div class="qualis qualis-summary">
        <div class="qualis-description"><strong>Aviso 02: </strong>{{ categoria.warning2 }}</div>
      </div>
    </div>
    <div class="col-12 col-md-12 mb-1">
      <div class="qualis qualis-summary">
        <div class="qualis-description">
          <strong>Aviso 03: </strong>{{ categoria.warning3 }}
          <a target="_blank" href="mailto:{{site.data.contact.email_representante}}" class="button">E-mail contato</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div id="tabs">
  <ul>
      <li><a href="#aba-discentes"><strong>Discentes</strong></a></li>
  </ul>
  <div id="aba-discentes">
    <div class="col-xs-12">
        <div id="planilha"></div>
    </div>
  </div>
</div>
