---
title: Discentes
layout: default
bodyClass: page-cursos-list
---

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Fluxos para o Mestrado e o Doutorado</h1>
        <p>
          Entenda o fluxo necessário, com os pré-requisitos, para concluir os cursos de Mestrado e Doutorado do PPGCC/PUCRS!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <div class="row justify-content-center">
    <!--<div class="col-12">
      <h2 class="title-3 text-dark mb-4">Discentes PPGCC</h2>
    </div>
    -->
    {% for fluxo in site.data.fluxos-cursos %}
    <div class="col-12 col-md-4 mb-1">
      <div class="feature">
        {% if fluxo.image %}
        <div class="feature-image">
          <img alt="{{ fluxo.title }} logo" src="{{site.baseurl}}/{{ fluxo.image }}" />
        </div>
        {% endif %}
        <h2 class="feature-title"><strong>{{ fluxo.title }}</strong></h2>
        <div class="feature-content mb-1">{{ fluxo.description }}</div>
        <a href="{{site.baseurl}}/{{ fluxo.url }}" class="button">Ver Fluxo</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
